*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --radius: 10px;
    --bg: #eff5ee;
    --text: #0c0e08;
    --primary: #96ac68;
    --secondary: #a8cfbb;
    --accent: #83bbb3;
    gap: 20px;
}
body{
    background-color: var(--bg);
}

.container{
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}
.login-form{
    max-width: 400px;
    width: 100%;
    align-self: center;
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding:40px;
    justify-content: space-between;
}
.login-form > *:not(:first-child){
    margin-top: 40px;
}
input{
    all: unset;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    max-width: calc(100% - 40px);
    border-radius: var(--radius);
    caret-color: #000000;
    box-shadow: inset -4px -4px 5px #fafafa,
        inset 4px 4px 5px #aebcd4;
    margin: 5px auto;
}
select{
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0px 20px;
    border-radius: var(--radius);
    caret-color: var(--bg);
    box-shadow: inset -4px -4px 5px #fafafa, inset 4px 4px 5px #e4ecfa;
    margin: 5px auto;
}
.op-stats > input{
    height: 30px!important;
    display: flex;
    align-items: center;
}
.op-stats{
    margin-top: 20px;
}
.op-stats > *:not(p){
    margin-bottom: 20px;
}
option{
    border: none;
}
button{
    text-align: center;
    vertical-align: center;
    font-size: 1.2rem;
    height: 50px;
    cursor: pointer;
    box-shadow: -7px -7px 15px #f4f6f8, 2px 3px 13px #cad1e0;
    border-radius: var(--radius);
    border: none;
    padding: 10px;
    background: #96ac68;
    color: #ffffff;
    user-select: none;
}
button:hover{
    background: var(--accent);
    box-shadow: none;
}
.message{
    position: fixed;
    bottom: 10px;
    width: 30%;
    max-width: 100%;
    max-width: calc(100vw - 60px);
    right: 10px;
    padding: 20px;
    background: #eeeeee;
    box-shadow: -7px -7px 15px #f4f6f8,
    2px 3px 13px #9eacc7;
    border-radius: var(--radius);
    align-self: center;
    justify-self: center;
    color: #ac6868;
    font-weight: 600;
}
@keyframes hideMsg {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.out{
    box-shadow: -7px -7px 15px #f4f8f4, 2px 3px 13px #e0e8f8;
    border-radius: var(--radius);
    border: none;
}

main{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}
main > section{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: fit-content;
}
main > section:first-child{
    position: sticky;
    top: 0;
}
main > section > *{
    margin: 20px 0;
}
.small-container{
    max-width: 50%
}
header > span{
    font-size: 1.2rem;
}
header > h2 {
    font-size: 2rem;
}

.white-btn{
    margin-top: 20px;
    font-size: 1.1rem; height:35px; display: flex; align-items: center;
}
.white-btn:hover{
    background: var(--bg);
    color: var(--text);
    box-shadow: none;
}

.change-password{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.change-password > input{
    max-width: calc(100% - 150px);
    margin-left: 0;
}
.logo{
    color: var(--primary);
    font-size: 2em;
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
}
nav{
    box-shadow: -7px -7px 15px #f4f8f4,
    2px 3px 13px #9eacc7;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > div:nth-child(2){
    padding-right: 20px;
}
nav > div:nth-child(2) > button{
    height: 35px;
    display: flex;
    align-items: center;
}
.recommends{
    max-width: calc(100% - 40px);
    width: 100%;
    padding: 20px;
}
.additions{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 1240px) {
    .logo{
        font-size: 1.5em;
    }
    main{
        flex-wrap: wrap;
    }
    main > section, .container{
        /* max-width: calc(100% - 30px); */
        width: 100%;
        padding: 15px;
        margin: auto;
        position: relative!important;
    }
    button{
        font-size: 1rem;
        min-height: 40px;
    }
    .additions{
        padding: 0;
        justify-content: space-between;
        margin: 20px 0;
        width: 100%;
        max-width: 100%;
    }
    .additions > button {
        width: fit-content;
        max-width: calc(50% - 10px);
        height: auto;
    }
    .message{
        max-width: calc(100vw - 20px);
        width: 100%;
    }
    .login-form{
        margin-top: 30px;
    }
    .op-stats{
        max-width: calc(100% - 30px);
    }
}
.card{
    padding: 15px;
    margin-top: 20px;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}
.card > div{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
}
.incomes{
    color: var(--primary);
}
.incomes::before{
    content: "+";
    font-weight: 800;
    font-size: 1.2rem;
}
.expenses{
    color: #ac6868;
}
.expenses::before{
    content: "-";
    font-weight: 800;
    font-size: 1.2rem;
}
.stats-history{
    flex-direction: column-reverse;
}
